$font:  'Roboto', sans-serif;
@mixin box-shadow($property) {
  -webkit-box-shadow: $property ;
  -ms-box-shadow: $property;
  box-shadow: $property;
}
@mixin transition($property){
    -webkit-transition: all $property easy-in-out;
    -moz-transition: all $property ease-in-out;
    -o-transition:all $property ease-in-out;
    transition: all $property ease-in-out;
}
%col{
    margin-left: 15px;
    margin-right: 15px;
}
body{
    font-family: $font;
}
img{
    max-width: 100%;
}
.main-menu{
    @include transition(0.3s);
    background-color: #ffffff40;
    color: #fff;
    text-transform: uppercase;
    padding: 0px;
    position: absolute;
    width: 100%;
    z-index: 10;
    &.display-mobile{
        display: none;
    }
    .container{
        padding: 0px;
        max-width: 1200px;
    }
    .navbar-nav{
        min-height: 96px;
    }
    .cart{
        a{
            color: #fff;
            display: inline-flex;
        }
        .fa-shopping-cart{
            font-size: 20px;
        }
    }
    .nav-item{
        a{
            color: #fff;
            &:hover {
                color: #ffffff8c;
                text-decoration: none;
            }
        }
        padding-left: 30px;
        padding-right: 30px;
        margin-top: auto;
        margin-bottom: auto;
        .quantity{
            margin-top: -6px;
            margin-left: -5px;
            background: #04b591;
            padding: 2px 5px 2px 6px;
            font-size: 11px;
            border-radius: 50%;
            width: 18px;
            height: 18px;
        }
    }
    &.scroll{
        margin-top: -100px;
        background-color: #000000b8;
        &.in{
            margin-top: 0px;
        }
    }
}
.main-banner {
    height: 100vh;
    min-height: 996px;
    background-image: url(../img/banner.jpg);
    background-position: top;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    .banner-text {
        color: #fff;
        margin: auto;
        .brand {
            font-family: 'Yellowtail', cursive;
            font-size: 200px;
            line-height: 144px;
            margin-bottom: 30px;
        }
        .description{
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .button{
            color: #fff;
            border: 1px solid #fff;
            width: 165px;
            height: 46px;
            line-height: 46px;
            padding: 0px;
        }
    }
}
.section-title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    .first-text{
        color: #00cc99;
    }
    .second-text{
        color: #333333;
    }
}
.section-value {
    margin-top: 98px;
    .block-item{
        width: 50%;
        display: flex;
        .block-text{
            width: 390px; 
            padding-left: 15px; 
            padding-right: 15px;
            float: left;
        }
        .block-image{
            display: flex; 
            width: 125px; 
            padding-left: 15px; 
            padding-right: 15px;
            float: left;
            img{
                margin: auto;
            }
        }
    }
    .container{
        max-width: 1030px;
    }
    .content{
        font-size: 14px;
        line-height: 20px;
        color: #666666;
        &.special{
            max-width: 260px;
            float: right;
        }
    }
    .description{
        margin-top: 15px; 
        margin-bottom: 50px;
        color: #666666;
    }
    .title{
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    .row{
        margin-bottom: 48px;
    }
}
.section-demo{
    margin-top: 104px; 
    margin-bottom: 82px;
    .description{
        margin-top: 15px; 
        margin-bottom: 50px;
        color: #666666;
    }
    .title{
        margin-top: 22px; 
        font-weight: 600;
        color: #666666;
    }
    .block-img {
        @extend %col;
        max-width: calc((100% - 60px)/3);
        margin-bottom: 16px;
        float: left;
        img{
            @include box-shadow(2px 4px 8px #e3e3e3);
            max-width: 100%;
        }
    }
}
.section-pages{
    background-color: #e6e7e8;
    padding-top: 110px;
    padding-bottom: 110px;
    &.display-mobile{
        display: none;
    }
    .block-img {
        @extend %col;
        float: left;
        margin-bottom: 30px;
        img{
            @include box-shadow(1px 1px 5px #999999);
        }
    }
    .container{
        padding: 0px;
        max-width: 1200px;
        .row{
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    .description{
        margin-top: 16px;
        margin-bottom: 54px;
        color: #666666;
    }
    .owl-item{
        padding-left: 30px;
        padding-right: 30px;
    }
    .owl-theme{
        .owl-dots {
            margin-top: -5px;
            .owl-dot{
                span{
                    background-color: #999999;
                    border: 2px solid #bdbdbe;
                    width: 13px;
                    height: 13px;
                }
                &.active{
                    span{
                        background-color: #00cc99;
                    }
                }
            }
        }
    }
}
.section-online-design{
    padding-top: 100px;
    .block-content{
        float: left;
        width: calc(100% - 98px);
        .title{
            font-weight: 600;
            margin-bottom: 10px;
        }
        .content{
            font-size: 14px;
            line-height: 20px;
            color: #666666;
        }
    }
    .block-img{
        width: 68px;
        height: 68px;
        float: left;
        margin-right: 30px;
        &.easily-use{
            background-image: url('../img/icon.png');
            background-position: -200px 0px;
        }
        &.compatible{
            background-image: url('../img/icon.png');
            background-position: -300px 0px;
        }
        &.easy-managent{
            background-image: url('../img/icon.png');
            background-position: -400px 0px;
        }
        &.add-text{
            background-image: url('../img/icon.png');
            background-position: -200px -100px;
        }
        &.add-art{
            background-image: url('../img/icon.png');
            background-position: -300px -100px;
        }
        &.easily-view{
            background-image: url('../img/icon.png');
            background-position: -400px -100px;
        }
        &.upload-img{
            background-image: url('../img/icon.png');
            background-position: -200px -200px;
        }
        &.drawing{
            background-image: url('../img/icon.png');
            background-position: -300px -200px;
        }
        &.easily-design{
            background-image: url('../img/icon.png');
            background-position: -400px -200px;
        }
        &.qr-code{
            background-image: url('../img/icon.png');
            background-position: -200px -300px;
        }
        &.powerful-layers{
            background-image: url('../img/icon.png');
            background-position: -300px -300px;
        }
        &.flexible-config{
            background-image: url('../img/icon.png');
            background-position: -400px -300px;
        }
        &.help-tool{
            background-image: url('../img/icon.png');
            background-position: -200px -400px;
        }
        &.zoom-function{
            background-image: url('../img/icon.png');
            background-position: -300px -400px;
        }
        &.various-fonts{
            background-image: url('../img/icon.png');
            background-position: -400px -400px;
        }
        &.fully-responsive{
            background-image: url('../img/icon.png');
            background-position: -200px -500px;
        }
        &.accept-reject{
            background-image: url('../img/icon.png');
            background-position: -300px -500px;
        }
        &.helpdesk{
            background-image: url('../img/icon.png');
            background-position: -400px -500px;
        }
    }
    .block-item{
        float: left;
        @extend %col;
    }
    .description{
        margin-top: 14px;
        margin-bottom: 60px;
        color: #666666;
    }
    .section-img{
        margin-bottom: 78px;
        img{
            margin-left: auto; 
            margin-right: auto;
        }
    }
}
.section-service{
    background-color: #dedfe0;
    margin-top: 70px;
    .block-content{
        margin-top: 100px;
        float: right;
    }
    .button{
        display: inline-block;
        border: 1.5px solid #00cc99;
        color: #00cc99;
        padding: 9px 23px 10px;
        font-size: 22px;
        &:hover{
            text-decoration: none;
            color: #00cc999c
        }
        .fa-play{
            font-size: 10px;
            padding: 1px 2px;
            border: 3px solid;
            border-radius: 3px;
            margin: 7px 0px 0px 22px;
            float: right;
        }
    }
    .description{
        margin-top: 6px;
        margin-bottom: 38px;
        color: #666666;
    }
    .row{
        display: inline-block;
    }
    .section-img{
        margin-left: -90px;
        margin-right: 30px;
        float:left;
        img{
            margin-top: -24px;
        }
    }
    .section-title{
        text-align: left;
    }
}
.section-feedback{
    margin-top: 100px;
    margin-bottom: 108px;
    .customer-name {
        margin-bottom: 22px;
    }
    .description{
        text-align: center;
        color: #999999;
        margin-top: 14px;
        margin-bottom: 50px;
    }
    .owl-theme{
        .owl-dots {
            margin-top: -5px;
            .owl-dot{
                span{
                    background-color: #999999;
                    border: 2px solid #bdbdbe;
                    width: 13px;
                    height: 13px;
                }
                &.active{
                    span{
                        background-color: #00cc99;
                        border: 2px solid #f2f2f2;
                    }
                }
            }
        }
    }
}
.section-purchase{
    height: 390px;
    background: url(../img/footer-bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    .button{
        color: #03b78a;
        border: 2px solid;
        text-transform: uppercase;
        width: 168px;
        padding: 12px 0px 13px;
        &:hover{
            color: #00cc999c;
        }
    }
    .container{
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
    .footer-title{
        font-family: 'Yellowtail', cursive;
        font-size: 100px;
        line-height: 80px;
        margin-bottom: 36px;
    }
}
footer{
    background-color: #eaeaea;
    .copy-right{
        text-align: center;
        padding: 26px 0px 36px 0px;
        margin: 0px;
        span{
            color: #00cc99;
        }
    }
}

@media (min-width: 1200px){
    .section-demo, .section-pages{
        .block-img {
            max-width: calc((100% - 60px)/3);
            &:nth-child(3n+1){
                margin-left: 0px; 
            }
            &:nth-child(3n){
                margin-right: 0px;
            }
        }
    }
    .section-online-design{
        .block-item {
            max-width: calc((100% - 60px)/3);
            &:nth-child(3n+1){
                margin-left: 0px; 
            }
            &:nth-child(3n){
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 1200px){
    .main-menu{
        .nav-item{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .section-value {
        .block-item{
            width: 50%;
            .block-text{
                width: calc(100% - 125px);
            }
        }
        .container{
            max-width: 960px;
        }
    }
    .section-service{
        .block-content{
            width: calc(50% - 30px);
            margin-top: 60px;
        }
        .container{
            max-width: 960px;
        }
        .section-img{
            margin-left: 0px;
            width: 50%;
        }
    }
}

@media (min-width: 976px) and (max-width: 1200px){
    .section-demo, .section-pages{
        .block-img {
            max-width: calc((100% - 60px)/3);
            &:nth-child(3n+1){
                margin-left: 0px; 
            }
            &:nth-child(3n){
                margin-right: 0px;
            }
        }
    }
    .section-online-design{
        .block-item {
            max-width: calc((100% - 30px)/2);
            &:nth-child(2n+1){
                margin-left: 0px; 
            }
            &:nth-child(2n){
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 976px){
    .main-banner {
        height: 100vh;
        min-height: 500px;
        .brand{
            img{
                width: 400px;
            }
        }
    }
    .main-menu{
        &.display-desktop{
            display: none;
        }
        &.display-mobile{
            display: flex;
            min-height: 72px;
            background-color: #000000c9;
            .cart{
                padding-right: 15px;
                .fa-shopping-cart{
                    font-size: 24px;
                }
            }
            .navbar-collapse{
                .nav-item{
                    padding-left: 15px;
                    a{
                        line-height: 36px;
                    }
                }
            }
            .navbar-toggler{
                border: 0px;
                margin-top: 17px;
                margin-bottom: 17px;
                &:focus{
                    outline: none;
                }
            }
            .navbar-nav{
                margin-bottom: 10px;
            }
        }
    }
    .section-value {
        .block-item{
            .block-image{
                width: 85px;
                padding-left: 15px;
                padding-right: 0px;
                img{
                    width: 70px;
                    height: 70px;
                }
            }
            .block-text{
                width: calc(100% - 85px);
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .container{
            max-width: 960px;
        }
        .title{
            margin-bottom: 5px;
        }
        .row{
            margin-bottom: 30px;
        }
    }
    .section-pages{
        .container{
            max-width: 810px;
        }
        &.display-desktop{
            display: none;
        }
        &.display-mobile{
            display: block;
        }
        .owl-item{
            padding: 0px;
        }
        .owl-theme{
            .owl-dots {
                .owl-dot{
                    span{
                        border: 0px;
                        width: 5px;
                        height: 5px;
                        margin: 3px;
                    }
                }
            }
        }
    }
    .section-service{
        text-align: center;
        .block-content{
            width: 100%;
            margin-bottom: 40px;
        }
        .section-img{
            width: 100%;
            margin-right: 0px;
            img{
                margin-top: 0px;
            }
        }
        .section-title{
            text-align: center;
        }
    }
}
@media (max-width: 768px){
    
}

@media (min-width: 639px) and (max-width: 976px){
    .section-demo{
        .block-img {
            max-width: calc((100% - 30px)/2);
            &:nth-child(2n+1){
                margin-left: 0px; 
            }
            &:nth-child(2n){
                margin-right: 0px;
            }
        }
    }
    .section-online-design{
        .block-item {
            min-height: 130px;
            max-width: calc((100% - 30px)/2);
            &:nth-child(2n+1){
                margin-left: 0px; 
            }
            &:nth-child(2n){
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 639px){
    .main-banner{
        .brand{
            img{
                width: 300px;
            }
        }
        .banner-text{
            .description{
                padding-left: 15px;
                padding-right: 15px;
                font-size: 14px;
            }
        }
    }
    .main-menu{
        .logo{
            img{
                width: 140px;
            }
        }
    }
    .section-value {
        .block-item{
            display: block;
            width: 100%;
            min-height: 80px;
            &:not(:last-child){
                margin-bottom: 30px;
            }
            .block-image{
                float: left;
            }
            .block-text{
                float: right;
                text-align: left !important;
                .content{
                    &.special{
                        float: left;
                    }
                }
            }
        }
        .container{
            max-width: 540px;
        }
    }
    .section-demo, .section-pages{
        .block-img {
            max-width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    .section-online-design{
        .block-img{
            margin-right: 15px;
        }
        .block-item {
            width: 100%;
            min-height: 100px;
            padding-bottom: 20px;
        }
        .block-text{
            width: calc(100% - 83px);
        }
    }
    .section-purchase {
        height: 300px;
    }
    .section-title {
        font-size: 28px;
    }
}
@media (max-width: 375px){
}