.section-demo .block-img, .section-pages .block-img, .section-online-design .block-item {
  margin-left: 15px;
  margin-right: 15px; }

body {
  font-family: "Roboto", sans-serif; }

img {
  max-width: 100%; }

.main-menu {
  -webkit-transition: all 0.3s easy-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff40;
  color: #fff;
  text-transform: uppercase;
  padding: 0px;
  position: absolute;
  width: 100%;
  z-index: 10; }
  .main-menu.display-mobile {
    display: none; }
  .main-menu .container {
    padding: 0px;
    max-width: 1200px; }
  .main-menu .navbar-nav {
    min-height: 96px; }
  .main-menu .cart a {
    color: #fff;
    display: inline-flex; }
  .main-menu .cart .fa-shopping-cart {
    font-size: 20px; }
  .main-menu .nav-item {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: auto;
    margin-bottom: auto; }
    .main-menu .nav-item a {
      color: #fff; }
      .main-menu .nav-item a:hover {
        color: #ffffff8c;
        text-decoration: none; }
    .main-menu .nav-item .quantity {
      margin-top: -6px;
      margin-left: -5px;
      background: #04b591;
      padding: 2px 5px 2px 6px;
      font-size: 11px;
      border-radius: 50%;
      width: 18px;
      height: 18px; }
  .main-menu.scroll {
    margin-top: -100px;
    background-color: #000000b8; }
    .main-menu.scroll.in {
      margin-top: 0px; }

.main-banner {
  height: 100vh;
  min-height: 996px;
  background-image: url(../img/banner.jpg);
  background-position: top;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat; }
  .main-banner .banner-text {
    color: #fff;
    margin: auto; }
    .main-banner .banner-text .brand {
      font-family: 'Yellowtail', cursive;
      font-size: 200px;
      line-height: 144px;
      margin-bottom: 30px; }
    .main-banner .banner-text .description {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px; }
    .main-banner .banner-text .button {
      color: #fff;
      border: 1px solid #fff;
      width: 165px;
      height: 46px;
      line-height: 46px;
      padding: 0px; }

.section-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px; }
  .section-title .first-text {
    color: #00cc99; }
  .section-title .second-text {
    color: #333333; }

.section-value {
  margin-top: 98px; }
  .section-value .block-item {
    width: 50%;
    display: flex; }
    .section-value .block-item .block-text {
      width: 390px;
      padding-left: 15px;
      padding-right: 15px;
      float: left; }
    .section-value .block-item .block-image {
      display: flex;
      width: 125px;
      padding-left: 15px;
      padding-right: 15px;
      float: left; }
      .section-value .block-item .block-image img {
        margin: auto; }
  .section-value .container {
    max-width: 1030px; }
  .section-value .content {
    font-size: 14px;
    line-height: 20px;
    color: #666666; }
    .section-value .content.special {
      max-width: 260px;
      float: right; }
  .section-value .description {
    margin-top: 15px;
    margin-bottom: 50px;
    color: #666666; }
  .section-value .title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 18px; }
  .section-value .row {
    margin-bottom: 48px; }

.section-demo {
  margin-top: 104px;
  margin-bottom: 82px; }
  .section-demo .description {
    margin-top: 15px;
    margin-bottom: 50px;
    color: #666666; }
  .section-demo .title {
    margin-top: 22px;
    font-weight: 600;
    color: #666666; }
  .section-demo .block-img {
    max-width: calc((100% - 60px)/3);
    margin-bottom: 16px;
    float: left; }
    .section-demo .block-img img {
      -webkit-box-shadow: 2px 4px 8px #e3e3e3;
      -ms-box-shadow: 2px 4px 8px #e3e3e3;
      box-shadow: 2px 4px 8px #e3e3e3;
      max-width: 100%; }

.section-pages {
  background-color: #e6e7e8;
  padding-top: 110px;
  padding-bottom: 110px; }
  .section-pages .block-img {
    float: left;
    margin-bottom: 30px; }
    .section-pages .block-img img {
      -webkit-box-shadow: 1px 1px 5px #999999;
      -ms-box-shadow: 1px 1px 5px #999999;
      box-shadow: 1px 1px 5px #999999; }
  .section-pages .container {
    padding: 0px;
    max-width: 1200px; }
    .section-pages .container .row {
      margin-left: 0px;
      margin-right: 0px; }
  .section-pages .description {
    margin-top: 16px;
    margin-bottom: 54px;
    color: #666666; }
  .section-pages .owl-item {
    padding-left: 30px;
    padding-right: 30px; }
  .section-pages .owl-theme .owl-dots {
    margin-top: -5px; }
    .section-pages .owl-theme .owl-dots .owl-dot span {
      background-color: #999999;
      border: 2px solid #bdbdbe;
      width: 13px;
      height: 13px; }
    .section-pages .owl-theme .owl-dots .owl-dot.active span {
      background-color: #00cc99; }

.section-online-design {
  padding-top: 100px; }
  .section-online-design .block-content {
    float: left;
    width: calc(100% - 98px); }
    .section-online-design .block-content .title {
      font-weight: 600;
      margin-bottom: 10px; }
    .section-online-design .block-content .content {
      font-size: 14px;
      line-height: 20px;
      color: #666666; }
  .section-online-design .block-img {
    width: 68px;
    height: 68px;
    float: left;
    margin-right: 30px; }
    .section-online-design .block-img.easily-use {
      background-image: url("../img/icon.png");
      background-position: -200px 0px; }
    .section-online-design .block-img.compatible {
      background-image: url("../img/icon.png");
      background-position: -300px 0px; }
    .section-online-design .block-img.easy-managent {
      background-image: url("../img/icon.png");
      background-position: -400px 0px; }
    .section-online-design .block-img.add-text {
      background-image: url("../img/icon.png");
      background-position: -200px -100px; }
    .section-online-design .block-img.add-art {
      background-image: url("../img/icon.png");
      background-position: -300px -100px; }
    .section-online-design .block-img.easily-view {
      background-image: url("../img/icon.png");
      background-position: -400px -100px; }
    .section-online-design .block-img.upload-img {
      background-image: url("../img/icon.png");
      background-position: -200px -200px; }
    .section-online-design .block-img.drawing {
      background-image: url("../img/icon.png");
      background-position: -300px -200px; }
    .section-online-design .block-img.easily-design {
      background-image: url("../img/icon.png");
      background-position: -400px -200px; }
    .section-online-design .block-img.qr-code {
      background-image: url("../img/icon.png");
      background-position: -200px -300px; }
    .section-online-design .block-img.powerful-layers {
      background-image: url("../img/icon.png");
      background-position: -300px -300px; }
    .section-online-design .block-img.flexible-config {
      background-image: url("../img/icon.png");
      background-position: -400px -300px; }
    .section-online-design .block-img.help-tool {
      background-image: url("../img/icon.png");
      background-position: -200px -400px; }
    .section-online-design .block-img.zoom-function {
      background-image: url("../img/icon.png");
      background-position: -300px -400px; }
    .section-online-design .block-img.various-fonts {
      background-image: url("../img/icon.png");
      background-position: -400px -400px; }
    .section-online-design .block-img.fully-responsive {
      background-image: url("../img/icon.png");
      background-position: -200px -500px; }
    .section-online-design .block-img.accept-reject {
      background-image: url("../img/icon.png");
      background-position: -300px -500px; }
    .section-online-design .block-img.helpdesk {
      background-image: url("../img/icon.png");
      background-position: -400px -500px; }
  .section-online-design .block-item {
    float: left; }
  .section-online-design .description {
    margin-top: 14px;
    margin-bottom: 60px;
    color: #666666; }
  .section-online-design .section-img {
    margin-bottom: 78px; }
    .section-online-design .section-img img {
      margin-left: auto;
      margin-right: auto; }

.section-service {
  background-color: #dedfe0;
  margin-top: 70px; }
  .section-service .block-content {
    margin-top: 100px;
    float: right; }
  .section-service .button {
    display: inline-block;
    border: 1.5px solid #00cc99;
    color: #00cc99;
    padding: 9px 23px 10px;
    font-size: 22px; }
    .section-service .button:hover {
      text-decoration: none;
      color: #00cc999c; }
    .section-service .button .fa-play {
      font-size: 10px;
      padding: 1px 2px;
      border: 3px solid;
      border-radius: 3px;
      margin: 7px 0px 0px 22px;
      float: right; }
  .section-service .description {
    margin-top: 6px;
    margin-bottom: 38px;
    color: #666666; }
  .section-service .row {
    display: inline-block; }
  .section-service .section-img {
    margin-left: -90px;
    margin-right: 30px;
    float: left; }
    .section-service .section-img img {
      margin-top: -24px; }
  .section-service .section-title {
    text-align: left; }

.section-feedback {
  margin-top: 100px;
  margin-bottom: 108px; }
  .section-feedback .customer-name {
    margin-bottom: 22px; }
  .section-feedback .description {
    text-align: center;
    color: #999999;
    margin-top: 14px;
    margin-bottom: 50px; }
  .section-feedback .owl-theme .owl-dots {
    margin-top: -5px; }
    .section-feedback .owl-theme .owl-dots .owl-dot span {
      background-color: #999999;
      border: 2px solid #bdbdbe;
      width: 13px;
      height: 13px; }
    .section-feedback .owl-theme .owl-dots .owl-dot.active span {
      background-color: #00cc99;
      border: 2px solid #f2f2f2; }

.section-purchase {
  height: 390px;
  background: url(../img/footer-bg.jpg) center no-repeat;
  background-size: cover;
  display: flex; }
  .section-purchase .button {
    color: #03b78a;
    border: 2px solid;
    text-transform: uppercase;
    width: 168px;
    padding: 12px 0px 13px; }
    .section-purchase .button:hover {
      color: #00cc999c; }
  .section-purchase .container {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; }
  .section-purchase .footer-title {
    font-family: 'Yellowtail', cursive;
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 36px; }

footer {
  background-color: #eaeaea; }
  footer .copy-right {
    text-align: center;
    padding: 26px 0px 36px 0px;
    margin: 0px; }
    footer .copy-right span {
      color: #00cc99; }

@media (min-width: 1200px) {
  .section-demo .block-img, .section-pages .block-img {
    max-width: calc((100% - 60px)/3); }
    .section-demo .block-img:nth-child(3n+1), .section-pages .block-img:nth-child(3n+1) {
      margin-left: 0px; }
    .section-demo .block-img:nth-child(3n), .section-pages .block-img:nth-child(3n) {
      margin-right: 0px; }

  .section-online-design .block-item {
    max-width: calc((100% - 60px)/3); }
    .section-online-design .block-item:nth-child(3n+1) {
      margin-left: 0px; }
    .section-online-design .block-item:nth-child(3n) {
      margin-right: 0px; } }
@media (max-width: 1200px) {
  .main-menu .nav-item {
    padding-left: 20px;
    padding-right: 20px; }

  .section-value .block-item {
    width: 50%; }
    .section-value .block-item .block-text {
      width: calc(100% - 125px); }
  .section-value .container {
    max-width: 960px; }

  .section-service .block-content {
    width: calc(50% - 30px);
    margin-top: 60px; }
  .section-service .container {
    max-width: 960px; }
  .section-service .section-img {
    margin-left: 0px;
    width: 50%; } }
@media (min-width: 976px) and (max-width: 1200px) {
  .section-demo .block-img, .section-pages .block-img {
    max-width: calc((100% - 60px)/3); }
    .section-demo .block-img:nth-child(3n+1), .section-pages .block-img:nth-child(3n+1) {
      margin-left: 0px; }
    .section-demo .block-img:nth-child(3n), .section-pages .block-img:nth-child(3n) {
      margin-right: 0px; }

  .section-online-design .block-item {
    max-width: calc((100% - 30px)/2); }
    .section-online-design .block-item:nth-child(2n+1) {
      margin-left: 0px; }
    .section-online-design .block-item:nth-child(2n) {
      margin-right: 0px; } }
@media (max-width: 976px) {
  .main-banner {
    height: 100vh;
    min-height: 500px; }
    .main-banner .brand img {
      width: 400px; }

  .main-menu.display-desktop {
    display: none; }
  .main-menu.display-mobile {
    display: flex;
    min-height: 72px; }
    .main-menu.display-mobile .cart {
      padding-right: 15px; }
      .main-menu.display-mobile .cart .fa-shopping-cart {
        font-size: 24px; }
    .main-menu.display-mobile .navbar-collapse .nav-item {
      padding-left: 15px; }
      .main-menu.display-mobile .navbar-collapse .nav-item a {
        line-height: 36px; }
    .main-menu.display-mobile .navbar-toggler {
      border: 0px;
      margin-top: 17px;
      margin-bottom: 17px; }
    .main-menu.display-mobile .navbar-nav {
      margin-bottom: 10px; }

  .section-value .block-item .block-image {
    width: 85px;
    padding-left: 15px;
    padding-right: 0px; }
    .section-value .block-item .block-image img {
      width: 70px;
      height: 70px; }
  .section-value .block-item .block-text {
    width: calc(100% - 85px);
    padding-left: 15px;
    padding-right: 15px; }
  .section-value .container {
    max-width: 960px; }
  .section-value .title {
    margin-bottom: 5px; }
  .section-value .row {
    margin-bottom: 30px; }

  .section-pages .container {
    max-width: 810px; }

  .section-service {
    text-align: center; }
    .section-service .block-content {
      width: 100%;
      margin-bottom: 40px; }
    .section-service .section-img {
      width: 100%;
      margin-right: 0px; }
      .section-service .section-img img {
        margin-top: 0px; }
    .section-service .section-title {
      text-align: center; } }
@media (min-width: 639px) and (max-width: 976px) {
  .section-demo .block-img, .section-pages .block-img {
    max-width: calc((100% - 30px)/2); }
    .section-demo .block-img:nth-child(2n+1), .section-pages .block-img:nth-child(2n+1) {
      margin-left: 0px; }
    .section-demo .block-img:nth-child(2n), .section-pages .block-img:nth-child(2n) {
      margin-right: 0px; }

  .section-online-design .block-item {
    min-height: 130px;
    max-width: calc((100% - 30px)/2); }
    .section-online-design .block-item:nth-child(2n+1) {
      margin-left: 0px; }
    .section-online-design .block-item:nth-child(2n) {
      margin-right: 0px; } }
@media (max-width: 639px) {
  .main-banner .brand img {
    width: 300px; }
  .main-banner .banner-text .description {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px; }

  .main-menu .logo img {
    width: 140px; }

  .section-value .block-item {
    display: block;
    width: 100%;
    min-height: 80px; }
    .section-value .block-item:not(:last-child) {
      margin-bottom: 30px; }
    .section-value .block-item .block-image {
      float: left; }
    .section-value .block-item .block-text {
      float: right;
      text-align: left !important; }
      .section-value .block-item .block-text .content.special {
        float: left; }
  .section-value .container {
    max-width: 540px; }

  .section-demo .block-img, .section-pages .block-img {
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto; }

  .section-online-design .block-img {
    margin-right: 15px; }
  .section-online-design .block-item {
    width: 100%;
    min-height: 100px;
    padding-bottom: 20px; }
  .section-online-design .block-text {
    width: calc(100% - 83px); }

  .section-purchase {
    height: 300px; }

  .section-title {
    font-size: 28px; } }

/*# sourceMappingURL=style.css.map */
